.player {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  align-items: center;
  justify-content: space-between;
}

.time-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  input {
    padding: 1rem 0rem;
    width: 100%;
  }
  p {
    padding: 1rem;
  }
}

.player-controls {
  display: flex;
  width: 30%;
  justify-content: space-between;
  svg {
    cursor: pointer;
  }
}
