.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
    margin-top: 2rem;
  }
  h2 {
    padding-top: 2.5rem;
  }
  h3 {
    padding: 1rem;
  }
}
